@import url("reset.css");
@import url("colors.css");
@import url("mobile.css") screen and (max-width: 480px);
@import url("tablet.css") screen and (min-width: 481px);
@import url("desktop.css") screen and (min-width: 1024px);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px dashed red; */
}

header > a > img {
  display: block;
  margin: 0 auto;
}

h4 {
  font-size: 1.2em;
  /* color: #999; */
  text-align: center;
  width: 100%;
  font-family: monospace;
  padding: 5px 0 3px 0;
  letter-spacing: 2.25px;
  border: 2px outset #999;
  /* text-shadow: #333 1px 1px 1px, */
  /*              #ddd 0px -1px 0px; */
}
